
html{
    font-size: 10px;
	@media (max-width: 1400px) {
		font-size: 10px;
	}
	@media (max-width: 1200px) {
		font-size: 9.722222222222221px;
	}
	@media (max-width: 992px) { 
		font-size: 8.25925925925926px;
	}
	@media (max-width: 768px) {
		font-size: 7.333333333333334px;
	}
	@media (max-width: 576px) {
		font-size: 6.101851851851853px;
    }
}



body{
    font-family: 'Jost', sans-serif;
}

header .logo{
    width: 13rem;
    height: 5.3rem;
}
header ul .nav-link{
    font-size: 1.5rem;
    font-weight: 600;
    color: #343434;
    text-transform: unset;
}
header ul .nav-link:hover{
    color: #e83e8c !important ;
    text-decoration: underline;
    transition: all 1s ease;
}

header .icon-nav{
    width:  2.4rem;
    height: 2.4rem;
    margin-left: 1.5rem;
    cursor: pointer;
}