html {
    font-size: 10px;

    @media (max-width: 1400px) {
        font-size: 10px;
    }

    @media (max-width: 1200px) {
        font-size: 9.722222222222221px;
    }

    @media (max-width: 992px) {
        font-size: 8.25925925925926px;
    }

    @media (max-width: 768px) {
        font-size: 7.333333333333334px;
    }

    @media (max-width: 576px) {
        font-size: 6.101851851851853px;
    }
}



body {
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    }

header .logo {
    width: 13rem;
    height: 5.3rem;
}

header ul .nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #343434;
    text-transform: unset;
}

header ul .nav-link:hover {
    color: #ff91af !important;
    text-decoration: underline;
    transition: all 1s ease;
}

header .icon-nav {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.image-container img {
    width: 100%;
    display: block;
    /* overflow-x: hidden; */
    object-fit: cover;
     
}

.image-container h4{
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .2rem;
    padding-bottom: 3.4rem;
}
.image-container h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
    letter-spacing: .05em;
    line-height: 8rem;
    
}
.image-container button{
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: black;
    background:white;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border: none;
}
.image-container button:hover{
    color: white;
    background: #ff91af !important;
    transition: all 1.5s ease;
}



.image-container .img-text{
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
}

.collection-section{
    margin-top: 7rem;
}
.collection-section h2{
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 500;
    margin:5rem 0;
}

.collection-section img{
    border: 1rem solid red;
    border-radius: 100rem;
    width: 100%;
    display: block;
}

.collection-section img:hover{
    /* color: ; */
}

.product-section{
    margin-top: 7rem;
}

.product-section .text-head{
    margin-bottom: 4rem;
}
.product-section h5{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.product-section p{
    font-size: 1.7rem;
    font-weight: 500;
    color: #666;
    padding-top: 2rem;
    display: block;
}

.product-section img{
    width: 100%;
    display: block;
}

.product-section a{
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 2rem;
    color: #111;
    padding-bottom:0;
    text-align: center;
    text-decoration: none;
}

.product-section span{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff91af;
    text-align: center;
}

.product-section span .old-price{
    color: #979797;
}

@media screen and (min-width: 310px) and (max-width: 768px) {
    .section-banner .img-banner img{
        height: 40rem;
    object-fit: cover;
    }
    .section-banner {
        margin-top: 7rem;
    }
    .collection-section{
        margin-top: 7rem;
    }
    .product-section{
        margin-top: 7rem;
    }
}

.section-banner {
    margin-top: 7rem;
}

.section-banner 
.banner-content{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    padding: 5% 7%;
    background: rgba(255,255,255,.8);
    border-radius: 3rem;
} 

.section-banner 
.banner-content h3{
    font-size: 2.7rem;
    font-weight: 700;
    margin: 0 0 0.5em;
    line-height: 1.4;
    text-transform: capitalize;
    /* color:; */
}

.section-banner .banner-content p {
    font-size: 2rem;
    margin-bottom: 2.5rem;
}



.section-banner .banner-content a{
    display: inline-block;
    font-weight: 500;
    color: white;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1.5rem 3rem;
    letter-spacing: .1rem;
    transition: all .3s;
    border-radius: .4rem;
    background: #111;
    width: fit-content;
}
.section-banner 
.banner-content a:hover{
background: #ff91af;
}

.section-banner .banner-content:after{
    content: "";
    position: absolute;
    bottom: -1.2rem;
    top: -1.2rem;
    left: -1.2rem;
    right: -1.2rem;
    border: .5rem solid rgba(255,255,255,.9);
    border-radius: 4rem;
    z-index: -1;
}

.section-flash{
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #f9f9f9;
}



.section-flash h4{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-bottom: 4rem;
}

.section-flash .slide-img{
    margin-bottom: 3rem;
}

.section-flash .slide-img a{
    font-size: 1.6rem;
    font-weight: 500;
    color: #111;
    line-height: 2.8rem;
    margin-bottom: 1rem;
}

.section-flash .slide-img a:hover{
    color: #ff91af;
}


.section-flash .slide-img .slide-head{
    padding-top: 4rem;
}

.section-flash .slide-img span s{
color: #979797;
}
.section-flash .slide-img span{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff91af;
    margin-bottom: 1rem;
}


