html {
    font-size: 10px;

    @media (max-width: 1400px) {
        font-size: 10px;
    }

    @media (max-width: 1200px) {
        font-size: 9.722222222222221px;
    }

    @media (max-width: 992px) {
        font-size: 8.25925925925926px;
    }

    @media (max-width: 768px) {
        font-size: 7.333333333333334px;
    }

    @media (max-width: 576px) {
        font-size: 6.101851851851853px;
    }
}



body {
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: block;
    }

header .logo {
    width: 13rem;
    height: 5.3rem;
}

header ul .nav-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #343434;
    text-transform: unset;
}

header ul .nav-link:hover {
    color: #ff91af !important;
    text-decoration: underline;
    transition: all 1s ease;
}

.icon-nav {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1.5rem;
    cursor: pointer;
}

.section-slideshow{
    padding-top: 10rem !important;
}

.image-container img {
    width: 100%;
    display: block;
    /* overflow-x: hidden; */
    object-fit: cover;
     
}

.image-container h4{
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .2rem;
    padding-bottom: 3.4rem;
}
.image-container h1{
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
    letter-spacing: .05em;
    line-height: 8rem;
    
}
.image-container button{
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: black;
    background:white;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border: none;
}
.image-container button:hover{
    color: white !important;
    background: #ff91af !important;
    transition: all 1.5s ease;
}

.image-container .img-content{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(0%,-50%);
} 


.image-container .img-text{
    position: absolute;
    top: 50%;
    /* left: 0%; */
    transform: translate(0%,-50%);
}

.collection-section{
    margin-top: 7rem;
}


.collection-section h2{
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 500;
    margin:5rem 0;
}

.banner-item {
    position: relative;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    border:1rem solid #ffdea6;
  }

.collection-section .banner-item:after{
    content: "";
    background: #ff91af;
    opacity: 0;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border-radius: 50%;
    transform: scale(0);
    -webkit-transform: scale(0);
    transition: all .5s linear;
    z-index: 1;
  }

  .banner-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s linear;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff91af;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s linear;
  
  }

  .banner-item .overlay .title-head{
    font-size: 3.2rem !important;
    font-weight: 700 !important;
    color: white;
    opacity: 1;
    transition:all .3s;
    display: inline-block;
  }

  .banner-item:hover .overlay {
    opacity: .9;
  }

  .banner-item:hover:hover img {
    transform: scale(1.15);
    transition: all 1s ease;
  }
.product-section{
    margin-top: 7rem;
}

.product-section .text-head{
    margin-bottom: 4rem;
}
.product-section h5{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
.product-section p{
    font-size: 1.7rem;
    font-weight: 500;
    color: #666;
    padding-top: 2rem;
    display: block;
}



.product-section .product-item{
    position: relative;
overflow: hidden;
}

.product-icon .icon-list:hover{
    background: #ff91af;
    opacity: 1;
    color: white !important;
}

.product-icon .icon-list{
    width: 4.6rem !important;
    height: 4.6rem !important;
    line-height: 4.6rem;
    background-color: #fff;
    box-shadow: 0 15px 25px #00000014;
    border-radius: 50%;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    transition: .5s;
    color: #111;
    font-size: 0;
    cursor: pointer;

}




.product-item .product-icon{
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.product-item:hover .product-icon {
    opacity: 1;
}

.product-section a{
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 2rem;
    color: #111;
    padding-bottom:0;
    text-align: center;
    text-decoration: none;
}

.product-section a:hover{
    color: #ff91af;
}

.product-section span{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff91af;
    text-align: center;
}

.product-section span .old-price{
    color: #979797;
}


.section-banner {
    margin-top: 7rem;
}

.section-banner 
.banner-content{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    padding: 5% 7%;
    background: rgba(255,255,255,.8);
    border-radius: 3rem;
} 


.section-banner 
.banner-content{
    width: 65%;
}

.section-banner 
.banner-content h3{
    font-size: 5rem;
    font-weight: 500;
    color:black;
    margin: 0 0 0.5em;
    line-height: 1.4;
    text-transform: capitalize;
    /* color:; */
}

.section-banner .banner-content p {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
}



.section-banner .banner-content a{
    display: inline-block;
    font-weight: 500;
    color: white;
    font-size: 1.4rem;
    line-height: 1;
    padding: 1.5rem 3rem;
    letter-spacing: .1rem;
    transition: all .3s;
    border-radius: .4rem;
    background: #111;
    width: fit-content;
}
.section-banner 
.banner-content a:hover{
background: #ff91af;
}

.section-banner .banner-content:after{
    content: "";
    position: absolute;
    bottom: -1.2rem;
    top: -1.2rem;
    left: -1.2rem;
    right: -1.2rem;
    border: .5rem solid rgba(255,255,255,.9);
    border-radius: 4rem;
    z-index: -1;
}

.section-flash{
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #f9f9f9;
}

.section-flash h4{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
    letter-spacing: .1rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    position: relative;
    margin-bottom: 6rem;
}
.section-flash h4:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: .25rem;
    width: 10rem;
    background: #ff91af;
}


.section-flash .slide-img{
    margin-bottom: 3rem;
}

/* Hover Icon CSS */

.section-flash .flash-item{
    position: relative;
overflow: hidden;
}

.flash-icon .flash-icon-list{
    width: 4.6rem !important;
    height: 4.6rem !important;
    line-height: 4.6rem;
    background-color: #fff;
    box-shadow: 0 15px 25px #00000014;
    border-radius: 50%;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
    transition: .5s;
    color: #111;
    font-size: 0;
    cursor: pointer;

}


.flash-icon 
.flash-icon-list:hover{
    background: #ff91af;
    opacity: 1;
    color: white !important;
}

.flash-item .flash-icon{
    position: absolute;
    top: 0;
    left: 80%;
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.flash-item:hover .flash-icon {
    opacity: 1;
} 


.section-flash .slide-img a{
    font-size: 1.6rem;
    font-weight: 500;
    color: #111;
    line-height: 2.8rem;
    margin-bottom: 1rem;
}

.section-flash .slide-img a:hover{
    color: #ff91af;
}


.section-flash .slide-img .slide-head{
    padding-top: 4rem;
}

.section-flash .slide-img span s{
color: #979797;
}
.section-flash .slide-img span{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ff91af;
    margin-bottom: 1rem;
}


#arival-slider .slick-next{
    background-color: white;
    right: 0;
    height: 4rem;
    width: 4rem;
    box-shadow: 0 1.5rem 2.5rem #00000014;
    border-radius: 50%;
    /* background-image: url("../images/1.1.jpg"); */
}

.content-section{
    padding-top: 5rem;
    padding-bottom: 3.5rem;
}

.content-section .date-head{
    position: absolute;
    box-shadow: 0 .3rem 1rem #00000014;
    width: 6.8rem;
    height: 6.8rem;
    background-color: #fff;
    color: #111;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    top: 3.6rem;
    left: 3.6rem;
    padding: 1rem 0;
}
.content-section .date-head 
.day:after{
    content: "";
    background-color: #111;
    width: 2.7rem;
    height: .1rem;
    display: block;
    margin: .4rem auto 0;
}

.content-section h4 a:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: .1rem;
    width: 5rem;
    background: #ff91af;
}

.content-section .date-head .day{
    font-size: 1.4rem;
    display: block;
}
.content-section .date-head .month{
    font-size: 1rem;
    display: block;
    padding-top: .4rem;
    letter-spacing: .3em;
}

.content-section h2{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
    letter-spacing: .1rem;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 1rem;
}

.content-section h2:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: .2rem;
    width: 7rem;
    background: #ff91af;
}

.content-section a{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: #83868c;
    text-transform: uppercase;
    cursor: pointer;
}

.content-section h4 a{
    position: relative;
    font-size: 2.2rem;
    color: #111;
    font-weight: 500;
    transition: all .3s ease;
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
}

.content-section h4 a:hover, 
.content-section a:hover{
    color: #ff91af;
}

.content-section p {
    font-size: 1.6rem;
    font-weight: 400;
    color: #83868c;
}

.footer{
    padding: 5rem 0 4rem;
    background: #f9f9f9;

    
}

.footer .footer-logo{
    width: 17rem;
    height: 7rem;
}

.footer p{
    font-weight: 400;
    margin-top: 2.3rem;
    font-size: 1.4rem;
}
.footer .list-icon{
    margin-top: 2rem;
}
.footer .list-icon i:hover{
    color: #ff91af !important;
}

.footer .info-footer .title-footer h4{
    font-size: 1.8rem;
    font-weight: 600;
}

.footer .info-footer .title-footer h4:after{
    content: "";
    display: block;
    height: .1rem;
    width: 3rem;
    margin-top: 2rem;
    background-color: #111;
}

.footer .info-footer ul li a{
    font-weight: 400;
    line-height: 3.4rem;
    color: #111;
    text-decoration: none;
    transition: all .25s ease-in-out;
    font-size: 1.5rem;
}

.footer .info-footer ul li a:hover{
    color: #ff91af;
    transition: all 1s ease;
}

.copy-right{
    border-top: .1rem solid #eee;
    padding: 2.6rem 0;
}

.copy-right p a{
    text-decoration: none;
    color: #111;
}
.copy-right p a:hover{
    color: #ff91af;
    transition: all 1s ease;
    text-decoration: underline;
}

.copy-right img{
    width: 24.7rem;
    height: 2.5rem;
}


/* Home2 CSS */

.best-sell-section{
    margin-top: 7rem;
}

.best-sell-section h4{
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
    color: #111;
    letter-spacing: .1rem;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding-bottom: 1rem;
}

.best-sell-section h4:before{
    content: "";
    width: 10rem;
    height: .2rem;
    background: #ff91af;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%);
    bottom: 0;
}

.best-sell-section .tab-section .tab-btn{
    margin-top: 2rem;
    margin-bottom:5rem ;
        overflow: hidden;
        display: flex;
        justify-content: center;
}

.best-sell-section .tab-section .tab-btn button:hover {
    background-color: #ff91af;
    color: white;
}

.best-sell-section .tab-section .tab-btn  button.active {
    background-color: #ff91af;
    color: white;
}

.best-sell-section .tab-section .tabcontent {
    display: none;
    border-top: none;
}

.best-sell-section .tab-section .tab-btn button {
    background: transparent;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ff91af;
    text-transform: uppercase;
    min-width: 11rem;
    height: 4.2rem;
    border: .1rem solid #ff91af;
    padding: 0 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: all .25s linear 0s;
    -webkit-transition: all .25s linear 0s;
    -o-transition: all .25s linear 0s;
    margin: 0 1rem;
}


.section-banner{
    margin-top: 7rem;
}

.section-banner .content-banner{
    padding: 5rem;
    background: #ffd2d1;
  

}

.section-banner .contain-img{
    overflow: hidden;
}



.contain-img img:hover {
    transform: scale(1.15);
    transition: all .8s linear !important;
  }

.section-banner 
.content-banner h3{
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.section-banner 
.content-banner p{
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3.5rem;
}

.section-banner 
.content-banner a{
    font-size: 1.6rem ;
    padding: .8rem 1.5rem;
    border-radius: .6rem;
    text-transform: capitalize;
    font-weight: 400;
    transition: all .3s;
    color: #ffffff;
    background: #f84747;
    text-decoration: none;
    text-align: center;
}

.section-banner 
.content-banner a:hover{
    background: black;
    color: white;

}


.deal-section{
    position: relative;
    margin:7rem 0;
}

.deal-section h2{
    position: relative;
    padding: 0 0 2rem;
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 4rem;
}

.deal-section h2:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 2.4rem);
    background: #ff91af;
    width: 4.8rem;
    height: .2rem;
}

.deal-section .product-countdown{
    overflow: hidden;
    position: relative;
    padding: 0;
    border: .4rem solid #e7e7e7;
}

.deal-section .product-countdown .item-product{
    padding: 2.5rem 2.5rem 
    1.5rem;
    display: flex;
    flex-wrap: wrap;
}

.product-countdown .item-product .top-icon{
    color: #fff;
    background: #2786b6;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    line-height: 2.2rem;
    text-align: center;
    position: absolute;
    letter-spacing: .32rem;
    top: 1.3rem;
    z-index: 1;
    padding: 0 1rem;
    left: 1rem;
    margin: 0;
}

.img-product img{
    display: block;
    width: 25.6rem;
    height: 25.6rem;
}

.info-product{
    padding-left: 3rem;
}

.info-product h5{
    font-size: 2.2rem;
    margin-bottom: .8rem;
    margin-top: .3rem;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    cursor: pointer;
}

.info-product h5:hover{
    color: #ff91af;
}

.info-product p{
    font-size: 22px;
    font-weight: 500;
    color: #ff91af;
    display: block;
    border-bottom: 1px solid #e7e7e7; 
    
    padding-bottom: 17px;
    margin: 0;
}

.info-product .description{
    margin-top: 1.5rem ;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: #969696;
}

.info-icon{
    margin-top: 1.7rem;
    display: inline-block;
}

.info-product .info-icon ul li{
    font-size: 1.4rem;
    text-transform: uppercase;
    border: .1rem solid #e7e7e7;
    line-height: 4.3rem;
    padding: 0 1.8rem 0 0;
    font-weight: 700;
    height: 4.5rem;
    gap: 2rem;
    cursor: pointer;
}

.info-product .info-icon ul li:hover{
    color: white !important;
    background: #ff91af;
}

.product-countdown .content-countdown{
    border-top: 1px solid #e7e7e7;
    padding: 40px 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.content-countdown h4:before{
    content: "\f017";
    margin-right: 1rem;
    font-size: 2rem;
    font-family: FontAwesome;
}

.content-countdown h4{
    font-size: 14px;
    margin: 0;
    font-weight: 700;
    color: #ff4545;
    width: 40%;
    position: relative;
    display: flex;
    align-items: center;
}













/* Media Queries Part */

@media screen and (min-width: 769px) and (max-width: 1025px) {

    .product-countdown .img-product {
      
        margin:2rem auto !important ;
    }
    .product-countdown .info-product{
        margin:0 auto !important ;
    }

    .section-banner .content-banner{
        padding: 1rem !important;
        background: #ffd2d1;     
    }
}

@media screen and (min-width: 310px) and (max-width: 768px) {


    .section-banner .img-banner img{
        height: 40rem;
    object-fit: cover;
    }

    
.image-container img{
    height: 80vh !important;
    background-position: center;
    background-size: contain;
}
  

    .section-banner .banner-content{
        width: 80%;
    }
    .section-banner {
        margin-top: 7rem;
    }
    .collection-section{
        margin-top: 7rem;
    }
    .product-section{
        margin-top: 7rem;
    }
    .image-container .img-content{
        position: absolute;
        top: 50%;

        transform: translate(-30%,-50%);
        text-align: center;
    } 


    .copy-right .payment-card,
    .copy-right .copy-text{

        display: flex;
        justify-content: center !important;
       }

        /* Home2 Media Query CSS */

    .order2{
        order: 2;
    }

    .section-banner .content-banner{
        padding: 12rem !important;
        background: #ffd2d1;
    }

    .product-countdown .img-product {
      
        margin:2rem auto !important ;
    }
    .product-countdown .info-product{
        margin:0 auto !important ;
    }

  

}
